In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("../run_log.csv", names=['step', 'train accuracy', 'test accuracy', 'train cross entropy', 'test cross entropy'])
df.head()

,step,train accuracy,test accuracy,train cross entropy,test cross entropy
0,0,0.02,0.12,6.070060,7.363458
1,5,0.08,0.22,3.111067,3.251952
2,10,0.20,0.22,2.565627,2.503300
3,15,0.28,0.28,2.221389,2.574319
4,20,0.42,0.38,2.143417,1.928253

In [16]:
json = df.to_json(orient='split')

In [17]:
df_from_json = pd.read_json(json, orient='split')

df_from_json.head()

,step,train accuracy,test accuracy,train cross entropy,test cross entropy
0,0,0.02,0.12,6.070060,7.363458
1,5,0.08,0.22,3.111067,3.251952
2,10,0.20,0.22,2.565627,2.503300
3,15,0.28,0.28,2.221389,2.574319
4,20,0.42,0.38,2.143417,1.928253